In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split

import seaborn as sns

from sklearn.linear_model import LinearRegression

from sklearn import metrics

import numpy as np

import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import SGDRegressor

In [2]:
import warnings

# Ignore all warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("houses.csv")

In [4]:
df.head()

   size(sqft)  bedrooms  floors   age  price
0       952.0       2.0     1.0  65.0  271.5
1      1244.0       3.0     1.0  64.0  300.0
2      1947.0       3.0     2.0  17.0  509.8
3      1725.0       3.0     2.0  42.0  394.0
4      1959.0       3.0     2.0  15.0  540.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   size(sqft)  100 non-null    float64
 1   bedrooms    100 non-null    float64
 2   floors      100 non-null    float64
 3   age         100 non-null    float64
 4   price       100 non-null    float64
dtypes: float64(5)
memory usage: 4.0 KB